:root {
  --bs-primary: cyan;
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calendar .btn {
  --bs-btn-disabled-opacity: 0.35;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-grid-header {
  font-weight: bold;
}

.calendar-grid-separator {
  margin: 0 1rem;
}

.calendar-grid-cell {
  min-width: 60px;
  min-height: 40px;
}

.calendar-grid-cell .btn {
  padding: 1rem;
  position: relative;
}
.calendar .btn, .calendar .btn:disabled, .calendar .btn:active {
  outline: none;
  border: none;
}
.calendar-grid-cell.booked .btn {
  border: 1px solid var(--bs-primary);
}
.calendar-grid-cell.booked .booked-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: var(--bs-primary);
}
.booked-indicator .material-symbols-outlined {
  font-size: 17px;
  display: inline-block;
  transform: translate(5px, -2px);
}
.calendar-grid-cell .btn .appointment-indicator {
  position: absolute;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: var(--bs-primary);
}
